# Common domain settings
DOMAIN_FQDN=au-team.irpo
DOMAIN_NETBIOS=AU-TEAM
DOMAIN_ADMIN_USER=Administrator

# BR-SRV
DC_HOSTNAME=br-srv
BR_SRV_IP=192.168.3.10
BR_SRV_INTERFACE=ens19
DNS_FORWARDER=8.8.8.8
DOMAIN_ADMIN_PASSWORD=P@ssw0rd

# Domain users
HQ_GROUP=hq
HQ_USER_PREFIX=hquser
HQ_USER_COUNT=5
HQ_USER_PASSWORD=P@ssw0rd

# HQ-CLI
HQ_CLI_HOSTNAME=hq-cli
HQ_CLI_INTERFACE=ens18

# Set to yes only when an existing Samba domain must be deleted and rebuilt.
RESET_SAMBA=no
