[defaults]
inventory = /etc/ansible/hosts
host_key_checking = False
retry_files_enabled = False
deprecation_warnings = False
interpreter_python = /usr/bin/python3

[persistent_connection]
connect_timeout = 30
command_timeout = 30

